{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block scripts %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
{% endblock %}

{% block content %}

<div class="row justify-content-center text-center">
    <div class="col-6">
        <div class="card bg-light">
            <div class="card-body">
                {% if validlink %}
                    <form method="post" action="" class="form-signin form-group">
                        <h3 class="h3 mb-3 font-weight-normal">Reset your password</h3>
                            {% csrf_token %}

                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <ul>
                                        {% for field, errors in form.errors.items %}
                                            {% for error in errors %}
                                                <li><em>{{ error|escape }}</em></li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="id_new_password1" class="sr-only">New password</label>
                                <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list" placeholder="New password">          
                            </div>

                        <div class="form-group">
                            <label for="inputPassword" class="sr-only">Confirm your new password</label>
                            <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="Confirm your password">          
                        </div>
                        <button type="submit" class="btn btn-primary">Reset</button>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <small><a href="{% url 'signup' %}">Sign up</a></small><br>
                                <small><a href="{% url 'login' %}">Login</a></small><br>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <h1>Password reset failed</h1>
                    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}