.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-control {
	margin:5px;
}

.card {
    margin-top: 50px;
    background-color: #FAFAFA !important;
}

.full-width {
    width: 100%;
}