{% extends "base.html" %}

{% block scripts %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
{% endblock %}

{% block content %}


{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

<div class="card bg-light">
   <form method="post" action="{% url 'login' %}" class="form-signin form-group">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      {% csrf_token %}
      <label for="usernameInput" class="sr-only">Nom d'utilisateur</label>
      <input type="text" id="usernameInput" name="username" class="form-control" placeholder="Nom d'utilisteur" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Mot de passe</label>
      <input type="password" id="inputPassword" name=password class="form-control" placeholder="Mot de passe" required="">
     
      <input class="btn btn-primary" type="submit" value="login"  />
    </form> 

<hr>
<div class="row">
                <div class="col-sm-12">
                  
  <a href="{% url 'signup' %}">Sign up</a><br>

  <a href="{% url 'password_reset' %}">Forgot your password?</a><br>

                </div>
              </div>
              </div>
{% endblock %}

</body>

</html>