{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block scripts %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
{% endblock %}

{% block content %}

<div class="row justify-content-center text-center">
    <div class="col-6">
        <div class="card bg-light">
            <div class="card-body">
                <form method="post" action="" class="form-group">
        	       <h1 class="h3 mb-3 font-weight-normal">Forgot your password ?</h1>
                  	{% csrf_token %}
          			{% if form.errors %}
                        {{ form.email.errors }}
                  	{% endif %}

                    <div class="form-group">
                        <label for="id_email" class="sr-only">Email address</label>
                        <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Email">
                        <small class="form-text text-muted">You will receive a link to create a new password.</small>
                    </div>

                    <input class="btn btn-primary full-width" type="submit" value="Reset password"  />
                </form>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <small><a href="{% url 'login' %}">Login</a></small><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}